@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@section scripts
{
<script>
    $(document).ready(function () {
        editTogle();
    });

    function editTogle() {
        let editMode = document.querySelector('#editCheckBox').checked;
        console.log(editMode);

        let elements = document.getElementsByClassName('visibleIfEditClass');
        [].forEach.call(elements, function (el) {
            if (editMode) {
                el.style.visibility = "visible";
            }
            else {
                el.style.visibility = "hidden";
            }
        });
        elements = document.getElementsByClassName('writeIfEditClass');
        [].forEach.call(elements, function (el) {
            el.disabled = !editMode;
        });
    }

    function RemoveUserFromTask(userId, taskId) {
        $.ajax({
            url: "/TaskManager/RemoveUserFromTask?taskId=" + taskId + "&userId=" + userId,
            type: "POST",
            success: function (result) {
                location.reload();
            }
        });
    }
    function RemoveUserFromProject(projectId, userId) {
        $.ajax({
            url: "/TaskManager/RemoveUserFromProject?projectId=" + projectId + "&userId=" + userId,
            type: "POST",
            success: function (result) {
                location.reload();
            }
        });
    }
</script>
}
<div class="container">
    @if (ViewBag.UserDetails != null)
    {
        <div class="form-check form-switch float-end">
            <input class="form-check-input" type="checkbox" onclick="editTogle()" role="switch" id="editCheckBox">
            <label class="form-check-label" for="flexSwitchCheckDefault">Edit</label>
        </div>
        <div class="mb-3">
            <label class="form-label">Projects</label>
            <div class="row">
                @foreach (var project in ViewBag.UserDetails.Projects)
                {
                    <div class="col-4 p-1">
                        <div class="card">
                            <div class="card-body">
                                <p class="h4 card-title">Project name : @project.Item2</p>
                                <button type="button" onclick="RemoveUserFromProject(@project.Item1, @ViewBag.userId)" class="visibleIfEditClass btn btn-primary">Remove project</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label">Tasks</label>
            <div class="row">
                @foreach (var projectTask in ViewBag.UserDetails.ProjectTasks)
                {
                    <div class="col-4 p-1">
                        <div class="card">
                            <div class="card-body">
                                <p class="h4 card-title">Task name : @projectTask.Item2.Item1</p>
                                <p class="h5 card-subtitle text-muted">Project : @projectTask.Item2.Item2</p>
                                <button type="button" onclick="RemoveUserFromTask(@ViewBag.userId,@projectTask.Item1)" class="visibleIfEditClass btn btn-primary">Remove task</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <form class="bg-white" asp-controller="User" asp-action="EditUserPost" asp-route-userId="@ViewBag.UserId" asp-antiforgery="true" method="post">
            <div class="mb-3">
                <label class=" form-label">UserName</label>
                <input class="writeIfEditClass form-control" type="text" name="UserName" value="@ViewBag.UserDetails.UserName"><br>
            </div>
            <div class="mb-3">
                <label class=" form-label">FirstName</label>
                <input class="writeIfEditClass form-control" type="text" name="FirstName" value="@ViewBag.UserDetails.FirstName"><br>
            </div>
            <div class="mb-3">
                <label class=" form-label">LastName</label>
                <input class="writeIfEditClass form-control" type="text" name="LastName" value="@ViewBag.UserDetails.LastName"><br>
            </div>
            <div class="mb-3">
                <label class=" form-label">Email</label>
                <input class="writeIfEditClass form-control" type="text" name="Email" value="@ViewBag.UserDetails.Email"><br>
            </div>
            <div class="mb-3">
                <label class=" form-label">IsEnabled</label>
                <select class="writeIfEditClass form-select" name="IsEnabled">
                    @if (ViewBag.UserDetails.IsEnabled.ToString() == "True")
                    {
                        <option value="true" selected>True</option>
                        <option value="false">False</option>
                    }
                    else
                    {
                        <option value="true">True</option>
                        <option value="false" selected>False</option>
                    }
                </select>
            </div>
            <div class="mb-3">
                <label class=" form-label">Role</label>
                <select class="writeIfEditClass form-select" name="RoleId">
                    @foreach (var role in ViewBag.Roles)
                    {
                        @if (int.Parse(ViewBag.UserDetails.RoleId.ToString()) == role.Id)
                        {
                            <option value="@role.Id" selected>@role.Name</option>
                        }
                        else
                        {
                            <option value="@role.Id">@role.Name</option>
                        }
                    }
                </select>
            </div><br>
            <div class="mb-3">
                <label class=" form-label">RoleName</label>
                <input class="writeIfEditClass form-control" type="text" value="@ViewBag.UserDetails.RoleName"><br>
            </div>
            <button type="submit" class="visibleIfEditClass btn btn-lg btn-success btn-block mt-3">Modify<i class="fas fa-sign-in-alt"></i></button>
        </form>
    }
</div>
