@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
@model ProjectManager.Application.Users.Queries.UpdateUser.UpdateUserQuery;
<div class="container">
    @if (ViewBag.Error != null)
    {
        @foreach (var error in ViewBag.Error)
        {
            <p class="text-danger">@error</p>
        }
    }
    @if (ViewBag.UserDetails != null)
    {
        <div class="mb-3">
            <label class="form-label">Projects</label>
            <div class="">
                @foreach (var project in ViewBag.UserDetails.Projects)
                {
                    <div class="card m-1" style="display:inline-block;">
                        <div class="card-body">
                            <p class="h5 card-title">Project name : @project.Item2</p>
                            <button type="button" onclick="RemoveUserFromProject(@project.Item1, @ViewBag.userId)" class="btn btn-primary">Remove project</button>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label">Tasks</label>
            <div class="">
                @foreach (var projectTask in ViewBag.UserDetails.ProjectTasks)
                {
                    <div class="card m-1" style="display:inline-block;">
                        <div class="card-body">
                            <p class="h5 card-title">Task name : @projectTask.Item2.Item1</p>
                            <p class="h5 card-subtitle text-muted">Project : @projectTask.Item2.Item2</p>
                            <button type="button" onclick="RemoveUserFromTask(@ViewBag.userId,@projectTask.Item1)" class="btn btn-primary">Remove task</button>
                        </div>
                    </div>
                }
            </div>
        </div>
        <form class="bg-white" id="edituserForm" asp-controller="User" asp-action="EditUserPost" asp-route-userId="@ViewBag.UserId" asp-antiforgery="true" method="post">
            <div class="mb-3">
                <label class=" form-label">UserName</label>
                <input class="form-control" type="text" asp-for="UserName" value="@ViewBag.UserDetails.UserName">
                <span class="text-danger" asp-validation-for="UserName"></span>
                <br>
            </div>
            <div class="mb-3">
                <label class=" form-label">FirstName</label>
                <input class="form-control" type="text" asp-for="FirstName" value="@ViewBag.UserDetails.FirstName">
                <span class="text-danger" asp-validation-for="FirstName"></span>
                <br>
            </div>
            <div class="mb-3">
                <label class=" form-label">LastName</label>
                <input class="form-control" type="text" asp-for="LastName" value="@ViewBag.UserDetails.LastName">
                <span class="text-danger" asp-validation-for="LastName"></span>
                <br>
            </div>
            <div class="mb-3">
                <label class=" form-label">Email</label>
                <input class="form-control" type="text" asp-for="Email" value="@ViewBag.UserDetails.Email">
                <span class="text-danger" asp-validation-for="Email"></span>
                <br>
            </div>
            <div class="mb-3">
                <label class=" form-label">IsEnabled</label>
                <select class="form-select" asp-for="IsEnabled">
                    @if (ViewBag.UserDetails.IsEnabled.ToString() == "True")
                    {
                        <option value="true" selected>True</option>
                        <option value="false">False</option>
                    }
                    else
                    {
                        <option value="true">True</option>
                        <option value="false" selected>False</option>
                    }
                </select>
                <span class="text-danger" asp-validation-for="IsEnabled"></span>
                <br>
            </div>
            <div class="mb-3">
                <label class=" form-label">Role</label>
                <select class=" form-select" asp-for="RoleId">
                    @foreach (var role in ViewBag.Roles)
                    {
                        @if (int.Parse(ViewBag.UserDetails.RoleId.ToString()) == role.Id)
                        {
                            <option value="@role.Id" selected>@role.Name</option>
                        }
                        else
                        {
                            <option value="@role.Id">@role.Name</option>
                        }
                    }
                </select>
                <span class="text-danger" asp-validation-for="RoleId"></span>
                <br>
            </div>
        </form>
        <button id="modifyUserSubmitForm" onclick="modifyUser(@ViewBag.UserId)" class="btn btn-lg btn-success btn-block mt-3">Modify<i class="fas fa-sign-in-alt"></i></button>

    }
</div>
