@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
@model ProjectManager.Application.ProjectTasks.Queries.CreateTasks.CreateTaskQuery;
<div class="container">
    <form id="createTaskForm" class="bg-white" asp-controller="TaskManager" asp-action="CreateTaskPost" asp-antiforgery="true" method="post">
        @if (ViewBag.Error != null)
        {
            @foreach (var error in ViewBag.Error)
            {
                <p class="text-danger">@error</p>
            }
        }
        <div class="mb-3">
            <label class=" form-label">ProjectId</label>
            <input class=" form-control" type="text" asp-for="ProjectId" value="@ViewBag.ProjectId">
            <span class="text-danger" asp-validation-for="ProjectId"></span>
            <br>
        </div>

        <div class="mb-3">
            <label class=" form-label">Name</label>
            <input class=" form-control" type="text" asp-for="Name">
            <span class="text-danger" asp-validation-for="Name"></span>
            <br>
        </div>

        <div class="mb-3">
            <label class=" form-label">Description</label>
            <input class=" form-control" type="text" asp-for="Description">
            <span class="text-danger" asp-validation-for="Description"></span>
            <br>
        </div>

        <div class="mb-3">
            <label class=" form-label">TaskType</label>
            <select class="form-select" asp-for="TaskTypeId">
                @foreach (var taskType in ViewBag.TaskTypes)
                {
                    @if (1 == taskType.Id)
                    {
                        <option value="@taskType.Id" selected>@taskType.Name</option>
                    }
                    else
                    {
                        <option value="@taskType.Id">@taskType.Name</option>
                    }
                }
            </select>
            <span class="text-danger" asp-validation-for="TaskTypeId"></span>
            <br>
        </div>
        <div class="mb-3">
            <label class=" form-label">Priority</label>
            <select class="form-select" asp-for="PriorityId">
                @foreach (var priority in ViewBag.Priorities)
                {
                    @if (1 == priority.Id)
                    {
                        <option value="@priority.Id" selected>@priority.Name</option>
                    }
                    else
                    {
                        <option value="@priority.Id">@priority.Name</option>
                    }
                }
            </select>
            <span class="text-danger" asp-validation-for="PriorityId"></span>
            <br>
        </div>
        
    </form>
    <button onclick="createProject(@ViewBag.ProjectId)" class="btn btn-lg btn-success btn-block mt-3">Create <i class="fas fa-sign-in-alt"></i></button>
</div>
