@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_TaskLayout.cshtml";
}
@model ProjectManager.Application.ProjectTasks.Queries.ModifyTask.ModifyTaskQuery;
@section scripts
{
    <script type="text/javascript" src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script>
         $(document).ready(function () {
                editTogle();
         });

        function editTogle() {
            let editMode = document.querySelector('#editCheckBox').checked;
            console.log(editMode);

            let elements = document.getElementsByClassName('visibleIfEditClass');
            [].forEach.call(elements, function (el) {
                if (editMode) {
                    el.style.visibility = "visible";
                }
                else {
                    el.style.visibility = "hidden";
                }
            });
            elements = document.getElementsByClassName('writeIfEditClass');
            [].forEach.call(elements, function (el) {
                el.disabled = !editMode;
            });
        }

        function RemoveUserFromTask(userId, taskId){
            $.ajax({
                url: "/TaskManager/RemoveUserFromTask?taskId=" + taskId + "&userId=" + userId,
                type: "POST",
                success: function (result) {
                    location.reload();
                }
            });
            }
    </script>
}
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form class="bg-white" asp-controller="TaskManager" asp-action="AddUserToTask" asp-route-taskId="@ViewBag.ProjectTaskId" asp-antiforgery="true" method="post">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-bs-toggle="dropdown" aria-expanded="true">
                        Checkbox dropdown
                    </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        @foreach (var user in ViewBag.UserNotIn)
                        {
                            <li>
                                <a class="dropdown-item" href="#">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="@user.Id" value="true" />
                                        <label class="form-check-label">@user.UserName</label>
                                    </div>
                                </a>
                            </li>
                        }
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="container">
    <div class="form-check form-switch float-end">
        <input class="form-check-input" type="checkbox" onclick="editTogle()" role="switch" id="editCheckBox">
        <label class="form-check-label" for="flexSwitchCheckDefault">Edit</label>
    </div>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Add user to task
    </button>
    <div class="mb-3">
        <label class="form-label">Users</label>
        <div class="row">
            @foreach (var user in ViewBag.ProjectTask.Users)
            {
                <div class="col-4 p-1">
                    <div class="card">
                        <div class="card-body">
                            <p class="h4 card-title">Project name : @user.Item2</p>
                            <button type="button" onclick="RemoveUserFromTask(@user.Item1, @ViewBag.TaskId)" class="btn visibleIfEditClass btn-primary">Remove user</button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    <form class="bg-white" asp-controller="TaskManager" asp-action="EditTaskPost" asp-route-taskId="@ViewBag.ProjectTaskId" asp-antiforgery="true" method="post">
        @if (ViewBag.Error != null)
        {
            @foreach (var error in ViewBag.Error)
            {
                <p class="text-danger">@error</p>
            }
        }
        <div class="mb-3">
            <label class=" form-label">ProjectId</label>
            <input class=" form-control writeIfEditClass" type="text" asp-for="ProjectId" value="@ViewBag.ProjectTask.ProjectId">
            <span class="text-danger" asp-validation-for="ProjectId"></span>
            <br>
        </div>
        <div class="mb-1">
            <label class=" form-label">Name</label>
            <input class=" form-control writeIfEditClass" type="text" asp-for="Name" value="@ViewBag.ProjectTask.Name"/>
            <span class="text-danger" asp-validation-for="Name"></span>
            <br>
        </div>
        <div class="mb-1">
            <label class=" form-label">Description</label>
            <input class=" form-control writeIfEditClass" type="text" asp-for="Description" value="@ViewBag.ProjectTask.Description">
            <span class="text-danger" asp-validation-for="Description"></span>
            <br>
        </div>
        <div class="mb-3">
            <label class=" form-label">TaskType</label>
            <select class="form-select writeIfEditClass" asp-for="TaskTypeId">
                @foreach (var taskType in ViewBag.TaskTypes)
                {
                    @if (int.Parse(@ViewBag.ProjectTask.TaskTypeId.ToString()) == taskType.Id)
                    {
                        <option value="@taskType.Id" selected>@taskType.Name</option>
                    }
                    else
                    {
                        <option value="@taskType.Id">@taskType.Name</option>
                    }
                }
            </select>
            <span class="text-danger" asp-validation-for="TaskTypeId"></span>
            <br>
        </div>
        <div class="mb-3">
            <label class=" form-label">Priority</label>
            <select class="form-select writeIfEditClass" asp-for="PriorityId">
                @foreach (var priority in ViewBag.Priorities)
                {
                    @if (int.Parse(@ViewBag.ProjectTask.PriorityId.ToString()) == priority.Id)
                    {
                        <option value="@priority.Id" selected>@priority.Name</option>
                    }
                    else
                    {
                        <option value="@priority.Id">@priority.Name</option>
                    }
                }
            </select>
            <span class="text-danger" asp-validation-for="PriorityId"></span>
            <br>
        </div>
        <div class="mb-3">
            <label class=" form-label">State</label>
            <select class="form-select writeIfEditClass" asp-for="TaskStateId">
                @foreach (var taskState in ViewBag.TaskStates)
                {
                    @if (int.Parse(@ViewBag.ProjectTask.TaskStateId.ToString()) == taskState.Id)
                    {
                        <option value="@taskState.Id" selected>@taskState.Name</option>
                    }
                    else
                    {
                        <option value="@taskState.Id">@taskState.Name</option>
                    }
                }
            </select>
            <span class="text-danger" asp-validation-for="TaskStateId"></span>
            <br>
        </div>
        <div class="mb-1">
            <label class=" form-label">TaskStartDate</label>
            <input class=" form-control writeIfEditClass" type="datetime" asp-for="TaskStartDate" value="@ViewBag.ProjectTask.TaskStartDate">
            <span class="text-danger" asp-validation-for="TaskStartDate"></span>
            <br>
        </div>
        <div class="mb-1">
            <label class=" form-label">TaskEndDate</label>
            <input class=" form-control writeIfEditClass" type="datetime" asp-for="TaskEndDate" value="@ViewBag.ProjectTask.TaskEndDate">
            <span class="text-danger" asp-validation-for="TaskEndDate"></span>
            <br>
        </div>
        <button type="submit" value="submit" class="btn visibleIfEditClass btn-lg btn-success btn-block mt-3">Modify<i class="fas fa-sign-in-alt"/></button>
    </form>
</div>
